  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }

  .button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .button-purple {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    font-size: 18px;
    background-color: #ab00c6;
    color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .button-green {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    font-size: 18px;
    background-color: #7ac226;
    color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .button-purple:hover {
    background-color: #6b057c;
  }

  .button-green:hover {
    background-color: #4e7a1a;
  }